{%- liquid
  assign img_ratio = section.settings.img_ratio
  assign enable_image_zoom = section.settings.enable_image_zoom
  assign enable_video_autoplay = section.settings.enable_video_autoplay
  assign enable_video_looping = section.settings.enable_video_looping

  assign show_part_of_next_slide = section.settings.show_part_of_next_slide
  if product_media.size == 1
    assign show_part_of_next_slide = false
  endif

  assign mobile_layout = section.settings.mobile_layout

  assign layout_with_full_screen = false
  if mobile_layout contains 'thumbnails'
    assign layout_with_full_screen = true
  endif
-%}

<div data-product-media-container class='product-desktop-media'>
  {%- liquid
    if block_layout contains 'thumbnails'
      render 'product-media-carousel', product: product, product_media: product_media, featured_media: featured_media, block: block, block_layout: block_layout, section: section, sectionId: sectionId
    else
      render 'product-media-grid', product: product, product_media: product_media, featured_media: featured_media, block: block, block_layout: block_layout, img_ratio: img_ratio, enable_image_zoom: enable_image_zoom, enable_video_autoplay: enable_video_autoplay, enable_video_looping: enable_video_looping, sectionId: sectionId
    endif
  -%}
</div>

<div
  data-product-media-container
  class='product-mobile-media {% if product_media.size < 3 and layout_with_full_screen == false %} product-mobile-media--full-screen {% endif %} {% if mobile_layout contains 'carousel' or mobile_layout == 'slideshow-linear' %} product-mobile-media--full-screen {% endif %}'
>
  {% if product_media.size == 1 -%}
    {% render 'product-media-grid',
      product: product,
      product_media: product_media,
      featured_media: featured_media,
      block: block,
      block_layout: mobile_layout,
      img_ratio: img_ratio,
      enable_image_zoom: enable_image_zoom,
      enable_video_autoplay: enable_video_autoplay,
      enable_video_looping: enable_video_looping,
      sectionId: sectionId
    %}
  {% else %}
    {% render 'product-media-carousel-mobile',
      product: product,
      product_media: product_media,
      featured_media: featured_media,
      block: block,
      block_layout: mobile_layout,
      section: section,
      sectionId: sectionId
    %}
  {% endif %}
</div>
