{%- if product != blank -%}
  <a
    class='link'
    href='{{ product.url }}'
    aria-label='{{ 'product.screen_reader.view_full_details' | t }}'
    {{ block.shopify_attributes }}
  >
    <span class='link__text'>{{ 'product.store_front.view_full_details' | t }}</span>
    {%- render 'icon', icon_name: 'link-chevron', class: 'link__chevron' -%}
  </a>
{%- endif -%}
