<product-breadcrumbs class='product-general-info-block product-breadcrumbs-block' {{ block.shopify_attributes }}>
  <a
    class='unstyled-link product-breadcrumbs-block__link'
    href='/'
    aria-label='Home'
  >
    Home
  </a>

  <span class='product-breadcrumbs-block__divider'> / </span>

  <a
    class='unstyled-link product-breadcrumbs-block__link'
    href='/collections/all'
    aria-label='Products'
    data-collection-link
  >
    Products
  </a>

  {% if block.settings.show_breadcrumbs_product_title == true
    or section.settings.show_breadcrumbs_product_title == true
  %}
    <span class='product-breadcrumbs-block__divider'> / </span>

    <span class='product-breadcrumbs-block__product-title'>{{ product.title }}</span>
  {% endif %}
</product-breadcrumbs>
