{%- liquid
  assign options = section.settings
  assign color_scheme = options.color_scheme
-%}

<div class='password-footer section color-{{ color_scheme }}'>
  <div class='password-footer__container container container--full-screen'>
    <div class='password-footer__item'>
      {{ 'general.password_page.store_front.text_before_powered_shopify_logo' | t }}
      <a class='password-footer__shopify-logo' href='//www.shopify.com' rel='nofollow' aria-label='Shopify'>
        {% render 'icon', icon_name: 'shopify-logo' %}
      </a>
    </div>
    <div class='password-footer__item'>
      {{ 'general.password_page.store_front.text_for_link_to_admin_at_html' | t: class: 'password-footer__login-link' }}
    </div>
  </div>
</div>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.password_footer.name",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_option_default_label"
        },
        {
          "value": "primary",
          "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
        },
        {
          "value": "secondary",
          "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
        },
        {
          "value": "custom-1",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
        },
        {
          "value": "custom-2",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
        },
        {
          "value": "custom-3",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
        },
        {
          "value": "white",
          "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
        },
        {
          "value": "black",
          "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "info": "t:sections.general_section_settings.color_scheme_tip"
    }
  ]
}
{% endschema %}
